<div id="homeServices-view">

  <div class="wrapper">
    <div class="shower-doors">
      <div class="showerImage">
        <img src="photos/shower-door.jpg" alt="Alumax Shower Door" />
      </div>
      <h1>Shower Enclosures</h1>
      <h5>We offer a complete line of <a href="http://www.alumaxshowerdoor.com/">Alumax</a> shower enclosures built to your specifications. Let us help you choose from a wide variety of glass options and metal finishes to add a personal touch to your custom
        bathroom. </h5>
      <div class="contactBtn">
        <button class="btn waves-effect waves-light white black-text" type="submit" name="action">Contact Us
          <i class="material-icons right">send</i>
        </button>
      </div>
    </div>

    <div class="mirrors">
      <div class="mirrorImage">
        <img src="photos/patio-door.jpg" alt="Mirrors" />
      </div>
      <h1>Mirrors</h1>
      <h5>We offer a full line of mirror options as functional accentuation to your home. Custom sizing with a variety of options such as beveled edges and tinting are available. </h5>
      <div class="contactBtn">
        <button class="btn waves-effect waves-light white black-text" type="submit" name="action">Contact Us
          <i class="material-icons right">send</i>
        </button>
      </div>
    </div>

    <div class="home-windows">
      <div class="homeWindowImage">
        <img src="photos/stool-window.jpg" alt="Home Windows" />
      </div>
      <h1>Home Windows</h1>
      <h5>From new contruction to replacement glass, we have your home window needs covered. We are happy to review floor plans or meet you where you are to give an estimate.</h5>

      <div class="contactBtn">
        <button class="btn waves-effect waves-light white black-text" type="submit" name="action">Contact Us
          <i class="material-icons right">send</i>
        </button>
      </div>
    </div>


    <div class="insulated">
      <div class="insulatedImage">
        <img src="photos/patio-door.jpg" alt="Alumax Shower Door" />
      </div>
      <h1>Insulated Glass Replacement</h1>
      <h5>Check with us before replacing your entire insulated window unit due to breakage or fogging. We are able to special order insulated glass units for a variety of applications including home windows and patio doors. Grids in your window? No problem.
        These can be included upon request. </h5>

        <div class="contactBtn">
          <button class="btn waves-effect waves-light white black-text" type="submit" name="action">Contact Us
            <i class="material-icons right">send</i>
          </button>
        </div>

    </div>

    <div class="fireplace">
      <div class="fireImage">
        <img src="photos/fire.jpg" alt="Fireplaces" />
      </div>
      <h1>Fireplace Glass</h1>
      <h5>Have a fireplace in need of glass repair? Whether you have an open fireplace or insert, we can help. </h5>
      <div class="contactBtn">
        <button class="btn waves-effect waves-light white black-text" type="submit" name="action">Contact Us
          <i class="material-icons right">send</i>
        </button>
      </div>
    </div>

    <!-- <footer class="page-footer">
    <div class="container">
      <div class="row">
       <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


        </div>
    <div class="col l6 s12">
    <h5 class="white-text">We Look Forward to Hearing From You</h5>
      <ul>
        <li><a class="white-text" href="tel:417-592-0835">Phone: 417-592-0835</a></li>
        <li><a class="white-text" href="mailto:macysglass@gmail.com">E-mail: macysglass@gmail.com</a></li>
        <br>
        <div class="address" "white-text">
          <u>Address</u>
          <br> Macy's Glass
          <br> 731 S. Neosho Blvd.
          <br> Neosho, MO 64850
        </div>
      </ul>
    </div>
</div>
 <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
</div>
</div>
 <div class="footer-copyright">
      <div class="container">
        Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
</footer>  -->
  </div>
</div>
