<!-- <div id="homeServices-view">


  <div class="shower-doors">
    <div class="showerImage">
      <img src="photos/shower-door.jpg" alt="Alumax Shower Door" />
    </div>
    <h1>Shower Enclosures</h1>
    <h5>We offer a complete line of <a href="http://www.alumaxshowerdoor.com/">Alumax</a> shower enclosures built to your specifications. Let us help you choose from a wide variety of glass options and metal finishes to add a personal touch to your custom
      bathroom. </h5>
  </div>

  <div class="home-windows">
    <div class="homeWindowImage">
      <img src="photos/stool-window.jpg" alt="Alumax Shower Door" />
    </div>
    <h1>Home Windows</h1>
    <h5>From new contruction to replacement glass, we have your home window needs covered. We are happy to meet you where you are to give an estimate.</h5>
  </div>

</div> -->
