/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 html, body {
   height: 100%;
 }

nav ul a {
    color: #312F2F;
}
nav .brand-logo {
  color: #312F2F;
  font-family: "Lobster";
}

nav .material-icons {
    color: #312F2F;
}

i.medium {
  color: #312F2F;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
  color: #312F2F;
}

footer.page-footer {
  margin: 0;
  background-color: #312F2F;
  text-align: center;
  color: white;
}

.row.col.l6 {
  text-align: center;
}

p {
  color: #312F2F;
}

.square {
  height: 10px;
  width: 10px;
  background-color: blue;
}

/*.sprayCan{
  background: red;
  width:60px;
  height:60px;
}

.sprayCan > img {
  width:100%;
}*/

/*.li > img {
  width:60px;
  height:60px;
}*/

.ng-invalid {
  color: red;
}


/*ABOUT VIEW*/

#about-view {
  height: 100%;
  width: 100%;
  background-image: url("../photos/chair-window-bw.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}


.text {
  margin-left: 20px;
}

#about-view h1 {
  padding: 20px;
  color: #ececec;
}

#about-view p {
  padding: 20px;
  width: 50%;
  color: #ececec;
  font-size: 2em;
  line-height: 2em;
}

#contact-view {
  height: 100%;
  width: 100%;
  background-image: url("../photos/window-photo.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}


#cart-view .btn-large {
  float: right;
}
