<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br>
      <br>
      <h1 class="header center grey-text text-lighten-4">All of your glass needs. In one place.</h1>
      <div class="row center">
        <br>
        <br>
        <a href="#/services">
          <h4 class="header col s12 light blue-text text-accent-4">How can we help you?</h4>
        </a>
      </div>
      <!-- <div class="row center"> -->
      <!-- <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
      </div> -->
      <br>
      <br>

    </div>
  </div>
  <div parallax>
    <img src="photos/wet-glass.jpg" alt="Unsplashed background img 1">
  </div>
</div>


<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center"><i class="material-icons">settings</i></h2>
          <h5 class="center blue-text text-accent-4">Experience</h5>

          <p class="light center-align black-text">We have been in the glass industry for 30 years serving our customers with high quality home, auto, and commercial <a href="#/services">services<a>.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center"><i class="material-icons">thumb_up</i></h2>
          <h5 class="center blue-text text-accent-4">Integrity</h5>

          <p class="light center-align black-text">We operate under a high standard of integrity and honesty.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center"><i class="material-icons">group</i></h2>
          <h5 class="center blue-text text-accent-4">Customer Focus</h5>

          <p class="light center-align black-text">Our customers are our first priority, and we want the experience of working with us to be a good one.</p>
        </div>
      </div>
    </div>

  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <!-- <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5> -->
      </div>
    </div>
  </div>
  <div parallax><img src="photos/auto-glass.jpg" alt="Unsplashed background img 2"></div>
</div>

<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12 center">
        <h3><i class="medium material-icons">swap_calls</i></h3>
        <h4 class="blue-text text-accent-4">Custom Work?</h4>
        <p class="center light">No problem.  We specialize in custom shower doors, windows, and flat glass, and we will work with you to ensure the job is completed to your specifications. </p>
      </div>
    </div>

  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <!-- <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5> -->
      </div>
    </div>
  </div>
  <div parallax><img src="photos/building-glass.jpg" alt="Unsplashed background img 3"></div>
</div>

<footer class="page-footer">
  <div class="container">
    <!-- <div class="row"> -->
      <!-- <div class="col l6 s12">
        <h5 class="white-text">Company Bio</h5>
        <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


      </div> -->
      <!-- <div class="col l6 s12"> -->
        <h5 class="white-text">We Look Forward to Hearing From You</h5>
        <ul>
          <li><a class="white-text" href="tel:417-592-0835">Phone: 417-592-0835</a></li>
            <li><a class="white-text" href="mailto:macysglass@gmail.com">E-mail: macysglass@gmail.com</a></li>
            <br>
            <div class="address" "white-text">
              <u>Address</u>
              <br> Macy's Glass
              <br> 731 S. Neosho Blvd.
              <br> Neosho, MO 64850
            </div>
            </ul>
        </div>
      </div>
      <!-- <div class="col l3 s12">
        <h5 class="white-text">Connect</h5>
        <ul>
          <li><a class="white-text" href="#!">Link 1</a></li>
          <li><a class="white-text" href="#!">Link 2</a></li>
          <li><a class="white-text" href="#!">Link 3</a></li>
          <li><a class="white-text" href="#!">Link 4</a></li>
        </ul>
      </div> -->
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
    </div>
  </div>
  </footer>
