<div id="about-view">
  <div class="text">

    <h1>30 Years.</h1>

    <p>That's how long we have been serving the 4 state area's home, auto, and commercial glass needs. We are dedicated to serving our customers with the best products and service possible while maintaining a high standard of integrity. We welcome custom
    work as well as application driven tasks, and we ensure your satisfaction. Feel free to <a href="#/contact">contact</a> us, we look forward to working with you.</p>

  </div>
</div>
