<div id="contact-view">
  <div class="contactText col l12">
    <h1>Project Ideas? Drop Us A Line.</h1>
    <div class="phone">
      <h3>Phone</h3>
      <h4><a href="tel:417-451-1754">417-451-1754</a></h4>
    </div>
    <div class="email">
      <h3>E-mail</h3>
      <h4><a href="mailto:macysglass@gmail.com">macysglass@gmail.com</a></h4>
    </div>
    <div class="address">
      <h3>Address</h3>
      <h4><a href="https://www.google.com/maps/place/Macy's+Auto+Glass/@36.8597902,-94.3852386,17z/data=!3m1!4b1!4m2!3m1!1s0x87c8f54432206ff9:0x42ab6194b3777d7c">
      Macy's Glass
      <br> 731 S. Neosho Blvd.
      <br> Neosho, MO 64850
    </h4></a>
    </div>
  </div>
</div>
